:root {
  --color: #28a745;
  --color-active: #ffffff;
  --bg: #343a40;

  --size: 1em;
  --size-small: 0.8em;
  --size-big: 1.2em;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--size);
  font-family: 'Alegreya', serif;
}
