:root {
  --delay: 0.3s;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;

  padding: var(--padding);

  font-size: var(--size);
}

.navigation--item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--padding);

  color: var(--color);
  text-decoration: none;
  border: 1px solid var(--bg);

  transition: all var(--delay);
}

.navigation--item:hover {
  color: var(--color-active);
  background-color: var(--color);
  border: 1px solid var(--color);

  transition: all var(--delay);
}

.navigation--item__active {
  color: var(--color-active);
  border: 1px solid var(--color);

  transition: all var(--delay);
}

.navigation--brad {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-active);
  font-size: var(--size-big);
  padding-right: 0.4em;
}

.navigation--brad > img {
  margin-right: 0.4em;
}
