:root {
  --color: #28a745;
  --color-active: #ffffff;
  --color-text: #f5f5dc;
  --color-error: rgba(255, 89, 42, 0.66);
  --color-info: rgb(68, 176, 255);

  --bg: #343a40;
  --bg-l: #40474d;
  --bg-active: #005260;
  --bg-error: rgba(255, 0, 0, 0.2);
  --bg-info: rgba(0, 0, 255, 0.2);

  --size: 1em;
  --size-small: 0.8em;
  --size-big: 1.2em;
  --size-ex-big: 1.6em;

  --padding: 0.5em 1em;

  --delay: 0.3s;

}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

h2, h3 {
  color: var(--color-active);
  padding: var(--padding);
  margin: 0;
}

h2, h3, ul {
  margin: 0;
}

html {
  font-size: 18px;
}

body { margin: 0;
  padding: 0;
  font-size: var(--size);
  font-family: 'Alegreya', serif;
}

html, body, #rootLayer {
  height: 100%;
}

#popupLayer {
  z-index: 999;
}
